boto3
cachetools
cerberus
click-odoo
click-odoo-contrib
cryptography
factur-x
openupgradelib @ git+https://github.com/OCA/openupgradelib.git@master
phonenumbers
elasticsearch
parse-accept-language
pyquerystring
python-slugify
unidecode

locomotivecms @ git+https://github.com/akretion/locomotivecms-python-client@master

# For testing
freezegun
vcrpy
vcrpy-unittest

